/*为什么在写之前还有一点小激动呢？*/
body{
	font-family: Arial, 'Microsoft YaHei';
	font-size: 16px;
	line-height: 1.8em;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
html,
body {
	margin:0;
	background: #EFEFEF;
}
body>#header {
	background-color: #0EB7DC;
    background-image: linear-gradient(135deg, #34DCAD, #0EB7DC);
	width: 100%;
	height: 200px;
	padding-top: 80px;
	color: #EFEFEF;
	overflow: hidden;
}
body>#header a {
	color: #EFEFEF;
}
body>#header h1 {
	text-align: center;
	/*line-height: 84px;*/
	margin: 0;
	font-family:SignPaintersGothicJL41114;
	-webkit-transition: all .4s ease-out .1s; -moz-transition: all .4s ease-out; -o-transition: all .4s ease-out .1s; transition: all .4s ease-out .1s
}
body>#header h1:hover{font-size: 34px;}
body>#main {
	margin-top: 15px;
	margin-bottom: 15px;
}
body>#main #content {
	background: #FEFEFE;
	padding: 35px 60px;
	min-height: 480px;
	border:1px solid #CECECE;
	-webkit-box-shadow: 0 2px 3px 5px #EEE;
	-moz-box-shadow: 0 2px 3px 5px #EEE;
	box-shadow: 0 2px 3px 5px #EEE;
}

body>#footer {
	background: #DDD;
	width: 100%;
	text-align: center;
	color: #999;
	font-size: 12px;
	line-height: 2.4em;
}
body>#footer a {
	font-size: 12px;
	color: #999;
}
/*内容样式*/
body>#main #content p {
	padding: 0.6em 0;
	margin:0;
	/*text-indent:2em;*/
}
body>#main #content h1 {
	line-height: 2.4em;
	border-bottom: 2px solid #DDD;
	margin: 20px 0;
}
pre {
	display: block;
	overflow-x: auto;
	word-wrap: break-word; 
	word-break: normal; 
	padding: 0 60px;
	/*margin: 0.6em -30px;*/
	/*background: #23241f;
	color: #f8f8f2;*/
	font-family: courier new;
	font-size: 16px;
	-webkit-text-size-adjust: none;
}
pre code {
	display: block;
	padding: 35px 15px;
	margin:0;
	border-left:2px solid #FF7A7A;
}
pre code .code-line {
	position: relative;
	min-height: 1.6em;
}
pre code .code-line .line-num {
	position: absolute;
	left: -77px;
	width: 60px;
	height: 100%;
	padding: 0 5px;
	margin-top:-4px;
	text-align: right;
	color: #666;
}
body>#main #content .img-box {
	padding: 0;
	margin: 0.6em -60px;
}
body>#main #content .img-box img {
	padding: 0;
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
body>#main #content blockquote {
	background: url(../../imgs/quotel.gif) no-repeat 2px 4px;
	font-size: 16px;
	padding: 10px 20px 0 20px;
	border-left: none;
	color: #66a366;
}

body>#main #content blockquote p:last-child{
	display: inline;
	padding: 0 16px 0 0;
	background: url(../../imgs/quoter.gif) no-repeat right center
}

body>#main #content blockquote>blockquote {
	background: #FFF;
}

body>#main table {
	width: 100%;
}
body>#main tr {
	background: #F4F4F4;
	width: 100%;
}
body>#main td {
	padding: 5px;
	border: 1px solid #ccc;
	font-size: 12px;
}

body>#main td:nth-child(even) {
	background: #fff;
}

body>#main td:nth-child(2),body>#main td:nth-child(3) {
	width: 7%;
}

body>#main th {
	padding: 5px;
	background: #fff;
	text-align: center;
	border: 1px solid #CCC;
}

body>#main h1,h2,h3,h4,h5{
	font-weight: bold;
}

body>#main{counter-reset:section;}
body>#main h3{counter-reset:subsection;}
body>#main h4{counter-reset:subsubsection;}

body>#main h3:before
{
	counter-increment:section;
	content: counter(section) ". ";
}

body>#main h4:before
{
	counter-increment:subsection;
	content: counter(section) "." counter(subsection) " ";
}

body>#main h5:before
{
	counter-increment:subsubsection;
	content: counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}

/*报告页面特有*/
#flow-box { position: relative; max-width: 628px;background: #f2f2f2;}
#flow-box li { position: absolute; background: #fff; border: solid 1px #ccc; text-align: center; padding: 8.5px; left: 0px; top: 0; list-style: none;}
#flow-box li:hover {border: solid 1px #0EB7DC;border-radius:6px;box-shadow: 0px 0px 0px 0.5px #0EB7DC;margin-top: -3px;}
#flow-box h3 { padding-top: 8px; }
#flow-box img { width: 180px; height: auto; display: block; border: 0;}
    /*css3动画*/
#flow-box li { -webkit-transition: all .4s ease-out .1s; -moz-transition: all .4s ease-out; -o-transition: all .4s ease-out .1s; transition: all .4s ease-out .1s }

#quickLink{position: absolute;left: -200px;top: 605px;width: 200px;background-color: #f7f7f7;font-size: 13px;color: #888;border-left: 3px solid #87E5EF;visibility: hidden;}
#quickLink p{text-align: center;background: #e0e0e0;font-weight: bold;font-size: 16px;}
#quickLink ul {list-style: none;color: #999;padding: 10px 0 0 30px;}
#quickLink ul li:hover{color: #fff;cursor: pointer;text-indent: 2px;background: #5be;}
/*#quickLink ul li:hover:before{content:"¶  "}*/
#quickLink ul li{line-height: 20px;}
#quickLink ul li.s{list-style: none;font-weight:bold;color: #666}
#quickLink ul li.s:hover{color: #fff;cursor: pointer;background: #5be;}
#quickLink ul li.ss{list-style: none;color: #777}
#quickLink ul li.ss:hover{color: #fff;cursor: pointer;background: #5be;}
#quickLink ul li.get{color: #fff;text-indent: 3px;background: #39c}
#quickLink ul li.get:before{content:"¶  ";color: #39c;left: 16px;position: absolute;}

#backTop{display:none;position:fixed;width:40px;height:40px;bottom:60px;left:50%;margin-left:520px;background: url(../../imgs/backtop.png) no-repeat 0px 0px;opacity: 0.65}
#backTop:hover{background-position: -40px 0px;cursor: pointer;opacity: 1}